dotfiles/.config/nvim/lazy-lock.json
dotfiles/.config/Slack/
dotfiles/.config/dconf/
dotfiles/.config/gnote/
dotfiles/.config/google-chrome/
dotfiles/.config/mimeapps.list
dotfiles/.config/pulse/
dotfiles/.config/spotify/
